<!-- accounts/templates/accounts/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Project{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                {% if user.is_company_admin %}
                    <li><a href="{% url 'company_list' %}">Company List</a></li>
                {% elif user.is_client_customer %}
                    <li><a href="{% url 'product_list' %}">Products</a></li>
                {% endif %}
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
